h1 {
text-align: center;
    color: #000;
    font-size: 40px;
    padding: 30px 10px;
    font-family: "Satisfy", cursive;
}

h2 {
font-family: "Short Stack", cursive;
text-align: center;
    color: #000;
    font-size: 40px;
    padding: 30px 10px;
}
h3 {
font-family: "Short Stack", cursive;
text-align: center;
    color: #000;
    font-size: 40px;
    padding: 30px 10px;
}

p{
  text-align: center;
    color: #000;
    font-family: "Short Stack", cursive
}


.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.short-stack-regular {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
}