

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #DCDFD9;

            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            color: #000000;
            font-family: 'Segoe UI', sans-serif;
}

.contenedorCuenta {
            text-align: center;
            justify-content: center;
        }

.reloj {
    display: flex;
    gap: 20px;
    justify-content: center;
        }

.segmentoCuenta {
     background: #DCDFD9;
     padding: 20px;
     border-radius: 10px;
     min-width: 80px;
     box-shadow: 0 4px 15px rgba(0,0,0,0.5);
        }

.numeroCuenta {
     font-size: 3rem;
     font-weight: bold;
     display: block;
     color: #000000;
        }

.etiquetaCuenta {
     font-size: 0.8rem;
     text-transform: uppercase;
     letter-spacing: 2px;
        }

.encabezado img{
	width: 100%;
}

.centrada{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 35vh;
	font-size: 36px;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container::after {
	content: "";
	width: 2px;
	height: 100%;
	background: #1b3231;
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	z-index: 1;
}

.evento {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	position: relative;
}

.evento::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #DCDFD9;
	border: 2px solid #1b3231;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.fecha {
	display: flex;
	align-items: center;
	justify-content: start;
	width: calc(42% + 20px);
	font-size: 32px;
	font-weight: normal;
}

.foto {
	width: 42%;
	border: 10px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}

.foto img {
	width: 100%;
	vertical-align: top;
}

.evento:nth-child(even) {
	flex-direction: row-reverse;
}

.evento:nth-child(even) .fecha {
	justify-content: end;
}

.evento:nth-child(even) .foto::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #fff;
	right: initial;
	left: -50px;
}

        /* Contenedor principal para alinear los botones */
        .contenedor-botones {
            display: flex;       /* Activa el modo flexible */
            gap: 10px;           /* Espacio exacto entre los botones */
            justify-content: center; /* Centra los botones (puedes usar 'start' o 'end') */
            margin-top: 20px;
        }

        /* Estilo base para los botones */
        .boton {
            padding: 10px 25px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .primario {
            background-color: #ffffff;
            color: black;
        }

        .secundario {
            background-color: #ffffff;
            color: black;
        }

        /* Efecto al pasar el mouse */
        .boton:hover {
            opacity: 0.8;
        }
        /*---------------------Estilos del Footer---------------------*/
.main-footer {
    background: #DCDFD9;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}
.copy {
    text-align: center;
    margin: auto;
    margin-top: 5px;
}
.main-footer [class*="icon-"] {
    color: white;
    text-decoration: none;
}
.main-footer [class*="icon-"]:before {
    position: relative;
    top: 3px;
    right: 5px;
}